.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 60px;
}
.header-title {
  display: inline-block;
  margin: 10px;
  padding: 0;
  color: #00277e;
}

ul.header-navigation {
  list-style: none;
}
ul li {
  display: inline-block;
  margin: 0 10px;
}
.link {
  text-decoration: none;
  color: #00277e;
  font-weight: bolder;
}
.content {
  width: 100%;
  margin-top: -140px;
}
img {
  margin-left: 50%;
  width: 50%;
}
.text-content {
  font-size: 60px;
  margin: 0;
}
.under-object {
  width: 75%;
  height: 150px;
  background: #00277e;
}